@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<p>What's Up Dog?</p>

<p>We gone learn today broski. I am not really sure how this works exactly but we will keep trying to see if we can get this app tow ork the way that we want it to, otherwise we are going to run into a lot of different issues with design. But if we can
    get this to work on multiple
    platforms elt's see!
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
